<?xml version="1.0"?>

<robot name="gen3_robotiq_2f_85" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Arguments -->
    <xacro:arg name="arm" default="gen3" />
    <xacro:arg name="dof" default="7" />
    <xacro:arg name="vision" default="true" />

    <xacro:arg name="gripper" default="robotiq_2f_85" />

    <xacro:arg name="sim" default="false" />
    <xacro:arg name="prefix" default="" />

    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />
    <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" dof="$(arg dof)" vision="$(arg vision)" sim="$(arg sim)" prefix="$(arg prefix)" />

    <!-- <xacro:include filename="$(find robothon_2023_board_description)/urdf/task_board.urdf.xacro"/> -->
    <!-- <xacro:task_board board_id="$(arg board_id)" height="0.085"/> -->

    <!-- Connect the task board to the world -->
    <!-- <joint name="$(arg board_id)_to_world" type="fixed">
        <parent link="$(arg prefix)base_link"/>
        <child link="$(arg board_id)_base_link"/>
        <origin xyz="1 0 0" rpy="0 0 0"/> 
    </joint> -->

</robot>